.outer-container {
    margin: auto;
    max-width: 100%;
    width: 80vw;
    border: 1px solid black;
    background-color: rgb(199, 155, 89);
    height: 80vh;
    border-radius: 35px;
}

.heading {
    text-align: center;
    color: white;
}

.sentence {
    font-Size: 22px;
    padding: 10px;
}

.text {
    background-color: gray;
    resize: none;
    font-Size: 22px;
    padding: 10px;
    width: 90%;
    height: 200px;
    border: 2px solid black;
    border-radius: 35px;
    padding: 20px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.pending {
    color: rgb(95, 95, 95);
}

.current {
    border-left: 2px solid black;
    animation: blink 1s steps(1, start) infinite;
}

@keyframes blink {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}

@media (min-width: 420px) and (max-width: 600px) {
    .heading {
        font-size: 26px;
        text-align: center;
        color: white;
    }

    .text {
        font-Size: 20px;
    }

    .sentence {
        font-Size: 20px;
        padding: 10px;
    }

}